<div class="container-fluid slider">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="../../img/home-slider-01.png" alt="kids">
            <div class="item-inner">
                <h1>Выявляем и развиваем таланты с детства</h1>
                <button class="btn-slider">Записаться</button>
            </div>
        </div>
        <div class="item">
            <img src="../../img/home-slider-02.png" alt="kids">
            <div class="item-inner">
                <h1>Выявляем и развиваем таланты с детства</h1>
                <button class="btn-slider">Записаться</button>
            </div>
        </div>
        <div class="item">
            <img src="../../img/home-slider-01.png" alt="kids">
            <div class="item-inner">
                <h1>Выявляем и развиваем таланты с детства</h1>
                <button class="btn-slider">Записаться</button>
            </div>
        </div>
    </div>
</div>
